.profile__add_button {
  width: 150px;
  height: 50px;
  background-image: url("../../../images/profile_add_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 1px solid #ffffff;
  align-self: center;
}

@media screen and (max-width: 645px) {
  .profile__add_button {
    width: 100%;
    padding-top: 46px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add_button {
    width: 100%;
    padding-top: 46px;
  }
}